.backgroundedLogin{
    -fx-background-image: url("../Images/Login.jpg");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; 
}

.backgroundedSignUp{
    -fx-background-image: url("../Images/Sign.png");
    -fx-background-repeat: no-repeat;
    -fx-background-size: cover; 
}